<div ng-controller="DashboardController" class="ng-scope">
    <div class="row">
        <div class="col-md-12">
        <div class="col-md-12" style="background-color: #eee; margin: 15px 0; padding: 10px; border: 1px solid #ddd">
            <h3 class="page-title ng-scope col-md-5"> لوحة القيادة </h3>
            <div class="col-md-7">
                
                    <div class="col-md-5 col-sm-6">
                        <label class="control-label"> من</label>
                        <input type="text" class="form-control datepicker" name="from_date" ng-model="row.from_date"/>
                    </div>
                    <div class="col-md-5 col-sm-6">
                        <label class="control-label"> إلى</label>
                        <input type="text" class="form-control datepicker" name="to_date" ng-model="row.to_date"/>
                    </div>
                
                <button style="margin-top: 25px;"  ng-click="_search(row)" class=" btn green" ><i class="fa fa-search" aria-hidden="true"></i>
                    <span class="">إبحث</span>
                </button>
            </div>
        </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-4">
            <div class="portlet light bordered ">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="icon-star font-green-sharp"></i>
                        <span class="caption-subject bold uppercase"> احصائيات </span>
                        <span class="caption-helper hide"></span>
                    </div>
                </div>
                <div class="portlet-body" style='height:158px;'>
                    <p class="col-md-12"><span class="col-md-10">عدد الطلبات القائمة </span>  <span class="bold col-md-2">{{ordersCount}}</span></p>
                    <p class="col-md-12"><span class="col-md-10">عدد الطلبات المغلقة </span>  <span class="bold col-md-2">{{ordersCloseCount}}</span></p>
                    <p class="col-md-12"><span class="col-md-10">عدد الطلبات الملغات </span> <span class="bold col-md-2">{{ordersCancelCount}}</span></p>
                </div>
            </div>
            </div>


                <div class="col-md-4">
                    <div class="portlet light bordered ">
                        <div class="portlet-title">
                            <div class="caption font-green-sharp">
                                <i class="icon-users font-green-sharp"></i>
                                <span class="caption-subject bold uppercase"> عدد العملاء</span>
                                <span class="caption-helper hide"></span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div dir="rtl" google-chart chart="customersChart" style="{{customersChart.cssStyle}}" on-ready="chartReady()"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption font-green-sharp">
                                <i class="icon-users font-green-sharp"></i>
                                <span class="caption-subject bold uppercase"> عدد المندوبين</span>
                                <span class="caption-helper hide"></span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div dir="rtl" google-chart chart="delegatesChart" style="{{delegatesChart.cssStyle}}" on-ready="chartReady()"></div>
                        </div>
                    </div>

                </div>
            

        </div>

        <div class="col-md-12">
            <div class="col-md-6">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-green-sharp">
                            <i class="icon-users font-green-sharp"></i>
                            <span class="caption-subject bold uppercase"> عدد  مزودي الخدمة</span>
                            <span class="caption-helper hide"></span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div dir="rtl" google-chart chart="providersChart" style="{{providersChart.cssStyle}}" on-ready="chartReady()"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-green-sharp">
                            <i class="icon-list font-green-sharp"></i>
                            <span class="caption-subject bold uppercase"> عدد  الطلبات</span>
                            <span class="caption-helper hide"></span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div dir="rtl" google-chart chart="ordersChart" style="{{ordersChart.cssStyle}}" on-ready="chartReady()"></div>
                    </div>
                </div>  
            </div>


        </div>

    </div>
</div>
<script>
            $(document).ready(function () {
                $(".datepicker").mask("9999/99/99");
                $('.datepicker').datepicker({
                    format: 'yyyy/mm/dd',
                    forceParse: false
                });


            });
</script>