<div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-steel">
                        <i class="font-green-steel"></i>
                        <h3>
                            <i class="fa fa-list font-green-sharp"></i>
                            <span class="caption-subject font-dark bold">طلبات للتأكيد</span>
                        </h3>
                    </div>

                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12" style="background-color:  #e7ecf1;margin-bottom: 1%; padding-top: 2%; padding-bottom: 2%; box-sizing: border-box; border-radius:10px; border: 1px #f5f5f5 solid; " >
                                <div class="col-md-12">
                                    <form name="frmsearch">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-3 col-sm-6">
                                                    <label class="control-label">الاسم</label>
                                                    <input type="text" class="form-control" name="name" ng-model="row.name"/>
                                                </div>
                                                <!--                                            <div class="col-md-4 col-sm-6">
                                                                                                <label class="control-label"> رقم الطلب </label>
                                                                                                <input type="text" class="form-control" name="order_id" ng-model="row.order_id"/>
                                                                                            </div>-->
                                                <div class="col-md-3 col-sm-6">
                                                    <label class="control-label"> رقم الجوال </label>
                                                    <input type="text" class="form-control" name="mobile" ng-model="row.mobile"/>
                                                </div>
                                                <div class="col-md-3 col-sm-6">
                                                    <label class="control-label">  النوع</label>
                                                    <select class="form-control" name="order_type" ng-model="row.order_type">
                                                        <option value="">اختر النوع</option>
                                                        <option value="1">مزود خدمة</option>
                                                        <option value="2">مندوب</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3 col-sm-6">
                                                    <label class="control-label">الحالة</label>
                                                    <select class="form-control" name="status_id" ng-model="row.status_id">
                                                        <option value="">اختر الحالة</option>
                                                        <option value="1">جديد</option>
                                                        <option value="2">مقبول</option>
                                                        <option value="3">مرفوض</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-12 text-center ">
                                                <div class="col-md-4 text-center pull-right " style="padding-top: 3%;">
                                                    <div class="clearfix pull-right">

                                                        <button  ng-click="_search(row)" class=" btn green" ><i class="fa fa-search" aria-hidden="true"></i>
                                                            <span class="">إبحث</span>
                                                        </button>
                                                        <button  ng-click="_reset()" class=" btn red" ><i class="fa fa-trash-o" aria-hidden="true"></i>
                                                            <span>إلغاء بحث</span>
                                                        </button>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div data-ng-include="'tpl/forms/messages.html'"></div>
                            <div  ng-show="details.length == 0">
                                <table class="table table-striped table-bordered table-hover" id="sample_11">
                                    <thead>
                                        <tr style=" background: #44b6ae; color: #fff;" class="">
                                            <th class="text-center" > الاسم</th>
                                            <th class="text-center" >رقم الهاتف</th>
                                            <th class="text-center" > تاريخ الطلب</th>
                                            <th class="text-center" >  نوع الطلب</th>
                                            <th class="text-center">الحالة</th>
                                            <th class="text-center">العملية</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center" colspan="6" >لاتوجد سجلات</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div ng-show="details.length > 0">

                                <table class="table table-striped table-bordered table-hover" id="sample_11">
                                    <thead>
                                        <tr style=" background: #44b6ae; color: #fff;" class="">
                                            <th class="text-center" ng-click="sort('name')"> الاسم
                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th class="text-center" ng-click="sort('username')"> رقم الهاتف
                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'username'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                            <th class="text-center" ng-click="sort('mobile')"> تاريخ الطلب
                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'mobile'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                            <th class="text-center" ng-click="sort('email')">  نوع الطلب
                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'email'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                            <th class="text-center" ng-click="sort('email')"> الحالة
                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'email'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>

                                            <th class="text-center">العملية</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="x in details |orderBy:sortKey:reverse|filter:search|itemsPerPage:null">
                                            <td class="text-center" >{{ x.customer.full_name}}</td>
                                            <td class="text-center" >{{x.customer.mobile}}</td>
                                            <td class="text-center" >{{ x.order_date}}</td>
                                            <td class="text-center" ><span ng-if="x.order_type == 1">مزود خدمة</span>
                                                <span ng-if="x.order_type == 2">مندوب</span>
                                            </td>
                                            <td class="text-center" ><span ng-if="x.status_id == 1">جديد</span>
                                                <span ng-if="x.status_id == 2">مقبول</span>
                                                <span ng-if="x.status_id == 3">مرفوض</span>
                                            </td>
                                            <td class="text-center">
                                                <a ng-click="accept_order(x.id)" class="btn fa fa-check-square text-success" title="قبول" ng-show="x.status_id == 1" ></a>
                                                <a ng-click="refuse_order(x.id)" class="btn fa fa-close text-danger" title="رفض" ng-show="x.status_id == 1"></a>
                                                <a ng-click="viewMore(x.id)" class="btn fa fa-list text-warning" title="تفاصيل"></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>


                                <uib-pagination total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                                <select ng-model='x' ng-click="displayRows(x)" ng-init="x='20'" style='color: #666; border: #ddd solid 1px;'>
                                    <option value="20">عداد الاسطر</option>
                                    <option value="1">1</option>
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="50">50</option>
                                    <option value="200">200</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="refuse_order_modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body" style="padding: 22px;">
                <div class="row">
                    <div class="col-md-12" data-ng-include="'tpl/forms/messages.html'"></div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label bold text-center col-form-label col-md-12">سبب الرفض</label>
                            <div class="col-md-12">
                                <input type="hidden" ng-model="row.orderId"/>
                                <textarea class="form-control" rows="5" name="refuse_text" ng-model="row.refuse_text" ></textarea>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="confirm_refuse(row)" ng-disabled="row.refuse_text == ''">تأكيد الرفض </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">إلغاء</button>
            </div>
        </div>

    </div>
</div>

<div id="moreDetails_modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa fa-close" data-dismiss="modal" style="
                   cursor: pointer;
                   float: left;
                   font-size: 20px;
                   "></i>
            </div>
            <div class="modal-body" style="padding:20px;">
                <div class="row">
                    <div class="col-md-12">
                        <p style="text-align: center"><label class="bold"><i class="fa fa-user font-green-sharp"></i> مقدم الطلب:</label>  
                            {{orderDetails.customer.full_name}}</p>
                        <div class="col-md-6">

                            <p><label class="bold"><i class="fa fa-phone-square font-green-sharp"></i> رقم الهاتف:</label>   {{orderDetails.customer.mobile}}</p>
                            <p><label class="bold"><i class="fa fa-filter font-green-sharp"></i>  نوع الطلب: </label>   
                                <span ng-if="orderDetails.order_type == 1">مزود خدمة</span>
                                <span ng-if="orderDetails.order_type == 2">مندوب</span></p>
                        </div>
                        <div class="col-md-6">
                            <p><label class="bold"><i class="fa fa-calendar font-green-sharp"></i>  تاريخ الطلب: </label>   {{orderDetails.order_date}}</p>
                            <p><label class="bold"><i class="fa fa-filter font-green-sharp"></i>  حالة الطلب: </label>   
                                <span ng-if="orderDetails.status_id == 1">جديد</span>
                                <span ng-if="orderDetails.status_id == 2">مقبول</span>
                                <span ng-if="orderDetails.status_id == 3">مرفوض</span>
                            </p>
                        </div>

                        <div class="col-md-12" style="border:solid 1px #ccc" ng-if="orderDetails.status_id == 3">
                            <p>سبب الرفض: </p>
                            <p>{{orderDetails.refuse_text}}</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>