<div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-steel">
                        <i class="font-green-steel"></i>
                        <h3>
                            <i class="fa fa-money font-green-sharp"></i>
                            <span class="caption-subject font-dark bold">العمليات المالية</span>
                        </h3>
                    </div>

                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12" style="background-color:  #e7ecf1;margin-bottom: 1%; padding-top: 2%; padding-bottom: 2%; box-sizing: border-box; border-radius:10px; border: 1px #f5f5f5 solid; " >
                                <div class="col-md-12">
                                    <form name="frmsearch">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-3 col-sm-6">
                                                    <label class="control-label">اسم المندوب</label>
                                                    <input type="text" class="form-control" name="name" ng-model="row.name"/>
                                                </div>
                                                <div class="col-md-3 col-sm-6">
                                                    <label class="control-label">اسم المتجر</label>
                                                    <input type="text" class="form-control" name="provider_name" ng-model="row.provider_name"/>
                                                </div>
                                                <!--                                                <div class="col-md-3 col-sm-6">
                                                                                                    <label class="control-label">رقم الطلب </label>
                                                                                                    <input type="text" class="form-control" name="order_id" ng-model="row.order_id"/>
                                                                                                </div>-->
                                                <div class="col-md-3 col-sm-6">
                                                    <label class="control-label">طريقة الدفع</label>
                                                    <select class="form-control" name="payment_way_id" ng-model="row.payment_way_id">
                                                        <option value="">الكل</option>
                                                        <option value="1">كاش</option>
                                                        <option value="2">فيزا</option>
                                                        <option value="3">تحويل بنكي</option>

                                                    </select>
                                                </div>
                                                <div class="col-md-3 col-sm-6">
                                                    <label class="control-label">الحالة</label>
                                                    <select class="form-control" name="status_id" ng-model="row.status_id">
                                                        <option value="">الكل</option>
                                                        <option value="1">جديد</option>
                                                        <option value="2">تم</option>

                                                    </select>

                                                </div>
<!--                                                <div class="col-md-3 col-sm-6">
                                                    <label class="control-label">تاريخ الارسال من</label>
                                                    <input type="text" class="form-control datepicker" name="send_date_from"  ng-model="row.send_date_from"/>
                                                </div>
                                                <div class="col-md-3 col-sm-6">
                                                    <label class="control-label">تاريخ الإرسال إلى</label>
                                                    <input type="text" class="form-control datepicker" name="send_date_to"  ng-model="row.send_date_to"/>
                                                </div>-->

                                                <div class="col-md-3 col-sm-6">
                                                    <label class="control-label">تاريخ التسديد من</label>
                                                    <input type="text" class="form-control datepicker" name="pay_date_from"  ng-model="row.pay_date_from"/>
                                                </div>
                                                <div class="col-md-3 col-sm-6">
                                                    <label class="control-label">تاريخ التسديد إلى</label>
                                                    <input type="text" class="form-control datepicker" name="pay_date_to"  ng-model="row.pay_date_to"/>
                                                </div>
                                            </div>
                                            <div class="col-md-12 text-center ">
                                                <div class="col-md-4 text-center pull-right " style="padding-top: 3%;">
                                                    <div class="clearfix pull-right">

                                                        <button  ng-click="_search(row)" class=" btn green" ><i class="fa fa-search" aria-hidden="true"></i>
                                                            <span class="">إبحث</span>
                                                        </button>
                                                        <button  ng-click="_reset()" class=" btn red" ><i class="fa fa-trash-o" aria-hidden="true"></i>
                                                            <span>إلغاء بحث</span>
                                                        </button>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div data-ng-include="'tpl/forms/messages.html'"></div>
                            <div  ng-show="details.length == 0">
                                <table class="table table-striped table-bordered table-hover" id="sample_11">
                                    <thead>
                                        <tr style=" background: #44b6ae; color: #fff;" class="">
                                            <th class="text-center" > المعنى </th>
                                            <th class="text-center" >الصفة </th>
                                            <th class="text-center" >طريقة الدفع</th>
                                            <th class="text-center">الحالة</th>
                                            <th class="text-center">السعر</th>
                                            <th class="text-center">تاريخ التسديد</th>
                                            <th class="text-center">العملية</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center" colspan="7" >لاتوجد سجلات</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div ng-show="details.length > 0">

                                <table class="table table-striped table-bordered table-hover" id="sample_11">
                                    <thead>
                                        <tr style=" background: #44b6ae; color: #fff;" class="">
                                            <th class="text-center" ng-click="sort('username')"> المعنى 
                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'username'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                            <th class="text-center" ng-click="sort('mobile')"> الصفة
                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'mobile'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                            <th class="text-center" ng-click="sort('email')">  طريقة الدفع
                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'email'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                            <th class="text-center">الحالة</th>
                                            <th class="text-center">السعر</th>
                                            <th class="text-center">تاريخ التسديد</th>
                                            <th class="text-center">العملية</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="x in details |orderBy:sortKey:reverse|filter:search|itemsPerPage:null">
                                            <td class="text-center" >{{ x.provider.name}}</td>
                                            <td class="text-center" > <span ng-if='x.provider.type == 1'>مزود خدمة</span>
                                                <span ng-if='x.provider.type == 2'>مندوب </span></td>
                                            <td class="text-center" >
                                                <span ng-if='x.payment_way_id == 1'>كاش </span>
                                                <span ng-if='x.payment_way_id == 2'>فيزا </span>
                                                <span ng-if='x.payment_way_id == 3'>تحويل بنكي </span>
                                            </td>
                                            <td class="text-center" ><span ng-if='x.status_id == 1'>جديد </span>
                                                <span ng-if='x.status_id == 2'>تم  </span>
                                            </td>
                                            <td class="text-center" >{{ x.price}} ر.س</td>
                                            <td class="text-center" >{{ x.pay_date}}</td>
                                            <td class="text-center" >
                                                <a ng-if="x.status_id == 1" ng-click="doPay(x.provider.id, x.order_payment_way_id)" class="btn fa fa-dollar text-success" title="تسديد"></a>
                                        </tr>
                                    </tbody>
                                </table>


                                <uib-pagination total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                                <select ng-model='x' ng-click="displayRows(x)" ng-init="x='20'" style='color: #666; border: #ddd solid 1px;'>
                                    <option value="20">عداد الاسطر</option>
                                    <option value="1">1</option>
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="50">50</option>
                                    <option value="200">200</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="pay_modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa fa-close" data-dismiss="modal" style="
                   cursor: pointer;
                   float: left;
                   font-size: 20px;
                   "></i>
            </div>
            <div class="modal-body" style="padding:20px;">
                <div class="row">
                    <div class="col-md-12">
                        <input type="hidden" ng-model="payRow.provider_id">
                        <input type="hidden" ng-model="payRow.order_payment_way_id">
                        <select class="form-control" name="payment_way_id" ng-model="payRow.payment_way_id">
                            <option value=''> طريقة الدفع</option>
                            <option value='1'>كاش</option>
                            <option value='3'>تحويل بنكي</option>
                        </select>

                        <div class="fileinput fileinput-new" data-provides="fileinput" ng-if='payRow.payment_way_id == 3' style="margin-top: 10px;">
                            <div class="input-group input-large">
                                <div class="form-control uneditable-input span3" data-trigger="fileinput">
                                    <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                    <span class="fileinput-filename"> </span>
                                </div>
                                <span class="input-group-addon btn default btn-file">
                                    <span class="fileinput-new">  إرفاق وصل الدفع  </span>
                                    <span class="fileinput-exists"> تغيير </span>
                                    <input type="hidden"><input type="file" name="payBill" id="payBill"> </span>
                                <a href="#" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput"> إزالة </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="pay(payRow)" ng-disabled="payRow.payment_way_id == null">تسديد</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">إلغاء</button>
            </div>
        </div>

    </div>
</div>

<script>
            $(document).ready(function () {
                $(".datepicker").mask("9999/99/99");
                $('.datepicker').datepicker({
                    format: 'yyyy/mm/dd',
                    forceParse: false
                });


            });
</script>