<div class="row">
    <div class="col-md-12">
        <div class="portlet-body">
            <div data-ng-include="'tpl/forms/messages.html'"></div>
        </div>
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-crop font-green-sharp"></i>
                    <span class="caption-subject font-black-sharp bold uppercase">الأصناف</span>
                </div>
            </div>
            <div class="portlet box green-haze">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-plus" ng-if="mode === 'add'"></i>
                        <i class="fa fa-edit" ng-if="mode === 'edit'"></i>{{title}}
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form  name="form" role="form" novalidate class="form-horizontal form-row-seperated">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="control-label col-md-2">ترتيب الصنف
                                <span class="required" aria-required="true"> * </span></label>
                                <div class="col-md-8">
                                    <input  type="number" class="form-control " name="item_order" ng-model="row.item_order" required />
                                    <div class="alert alert-danger" aria-required="true" ng-show="form.item_order.$dirty && form.item_order.$invalid" style="padding: 7px; border-right: solid 5px #f0868e; margin: 5px 0 0 0;">
                                        هذا الحقل مطلوب </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12" style="text-align: center">
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                            <img src="../storage{{row.image}}" alt=""/></div>
                                        <div class="fileinput-preview fileinput-exists thumbnail"
                                             style="max-width: 200px; max-height: 150px;"></div>
                                        <div>
                                            <span class="btn default btn-file green">
                                                <span class="fileinput-new ">اختر صورة   </span>
                                                <span class="fileinput-exists"> تغيير </span>
                                                <input
                                                    id="item_image"
                                                    type="file"
                                                    name="file" required/>
                                            </span>

                                            <a href="#" id="clear" class="btn default fileinput-exists" data-dismiss="fileinput">
                                                حذف</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="control-label col-md-2">الصنف
                                <span class="required" aria-required="true"> * </span></label>
                                <div class="col-md-8">
                                    <input  type="text" class="form-control " name="name" ng-model="row.name" required/>
                                    <div class="alert alert-danger" aria-required="true" ng-show="form.name.$dirty && form.name.$invalid" style="padding: 7px; border-right: solid 5px #f0868e; margin: 5px 0 0 0;">
                                        هذا الحقل مطلوب </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">التصنيف
                                <span class="required" aria-required="true"> * </span></label>
                                <div class="col-md-8">
                                    <select class="form-control " name="item_type" ng-model="row.item_type" required>
                                        <option ng-repeat="x in types" value="{{x.id}}" ng-selected="row.item_type == x.id">{{x.name}}</option>
                                    </select>
                                    <div class="alert alert-danger" aria-required="true" ng-show="form.name.$dirty && form.name.$invalid" style="padding: 7px; border-right: solid 5px #f0868e; margin: 5px 0 0 0;">
                                        هذا الحقل مطلوب </div>
                                </div>
                            </div>
                        </div>  
                        <div class="form-actions" style="background-color: #f5f5f5;">
                            <div class="row">
                                <div class="col-md-offset-2 col-md-9">
                                    <button ng-click="_save(row)" id="submitBtn" class="btn green submit-btn" ng-disabled="form.$invalid">
                                        <i class="fa fa-save"></i> حفظ </button>
                                    <button type="button" ng_click='_cancel()' class="btn red"> <i class="fa fa-mail-forward"></i> إلغاء</button>
                                </div>
                            </div>
                        </div>
                    </form> 
                </div>
            </div>
        </div>
    </div>
</div>