<div class="row">
    <div class="col-md-12">
        <div class="portlet-body">
            <div data-ng-include="'tpl/forms/messages.html'"></div>
        </div>
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-book font-green-sharp"></i>
                    <span class="caption-subject font-black-sharp bold uppercase">الإعلانات</span>
                </div>
            </div>
            <div class="portlet box green-haze">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-plus" ng-if="mode === 'add'"></i>
                        <i class="fa fa-edit" ng-if="mode === 'edit'"></i>{{title}}
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form  name="form" role="form" novalidate class="form-horizontal form-row-seperated">
                        <div class="form-body">
                            <div class="form-group">
                                <div class="col-md-12" style="text-align: center">
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                            <img src="../storage{{row.image}}" alt=""/></div>
                                        <div class="fileinput-preview fileinput-exists thumbnail"
                                             style="max-width: 200px; max-height: 150px;"></div>
                                        <div>
                                            <span class="btn default btn-file green">
                                                <span class="fileinput-new ">اختر صورة   </span>
                                                <span class="fileinput-exists"> تغيير </span>
                                                <input
                                                    id="employee_picture"
                                                    type="file"
                                                    name="file" />
                                            </span>

                                            <a href="#" id="clear" class="btn default fileinput-exists" data-dismiss="fileinput">
                                                حذف</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">تاريخ بداية النشر</label>
                                <div class="col-md-8">
                                    <input  type="text" class="form-control datepicker" name="from_date" ng-model="row.from_date" id="datepicker1" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2"> تاريخ نهاية النشر</label>
                                <div class="col-md-8">
                                    <input  type="text" class="form-control datepicker" name="to_date" ng-model="row.to_date" id="datepicker2" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">الرابط</label>
                                <div class="col-md-8">
                                    <input  type="text" class="form-control " name="url" ng-model="row.url" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">رقم جوال المعلن</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" numbers-only maxlength="15" minlength="5" name="mobile" ng-model="row.mobile" />
                                    <div class="alert alert-danger" aria-required="true" ng-show="form.mobile.$dirty && form.mobile.$invalid" style="padding: 7px; border-right: solid 5px #f0868e; margin: 5px 0 0 0;">
                                          يجب أن تكون عدد الأرقام أكبر من 5 أرقام ! </div>
                                </div>
                            </div>
                        </div>  
                        <div class="form-actions" style="background-color: #f5f5f5;">
                            <div class="row">
                                <div class="col-md-offset-2 col-md-9">
                                    <button ng-click="_save(row)" id="submitBtn" ng-disabled="form.$invalid" class="btn green submit-btn">
                                        <i class="fa fa-save"></i> حفظ </button>
                                    <button type="button" ng_click='_cancel()' class="btn red"> <i class="fa fa-mail-forward"></i> إلغاء</button>
                                </div>
                            </div>
                        </div>
                    </form> 
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->
<script>
            $(document).ready(function () {
                $(".datepicker").mask("9999/99/99");

                $("#datepicker1").datepicker({
                    format: 'yyyy/mm/dd',
                    autoclose: 1,
                    //startDate: new Date(),
                    todayHighlight: true,
                    //endDate: new Date()
                }).on('changeDate', function (selected) {
                    var minDate = new Date(selected.date.valueOf());
                    $('#datepicker2').datepicker('setStartDate', minDate);
                    //$("#datepicker2").val($("#datepicker1").val());
                    $(this).datepicker('hide');
                });

                $("#datepicker2").datepicker({
                    format: 'yyyy/mm/dd',
                    todayHighlight: false,
                    //endDate: new Date()
                }).on('changeDate', function (selected) {
                    $(this).datepicker('hide');
                });





            });
</script>