<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-steel">
                    <i class="font-green-steel"></i>
                    <h3>
                        <i class="fa fa-bell font-green-sharp"></i>
                        <span class="caption-subject font-dark bold">قائمة الإشعارات</span>
                    </h3>
                </div>

            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12" style="background-color:  #e7ecf1;margin-bottom: 1%; padding-top: 2%; padding-bottom: 2%; box-sizing: border-box; border-radius:10px; border: 1px #f5f5f5 solid; " >
                            <div class="col-md-12">
                                <form name="frmsearch">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div ng-if="showError1" style="color: red; padding: 5px;">{{error_msg1}}</div>
                                            <div class="col-md-4 col-sm-6">
                                                <label class="control-label">الاسم</label>
                                                <input type="text" class="form-control" name="name" ng-model="row.name"/>
                                            </div>
                                            <div class="col-md-4 col-sm-6">
                                                <label class="control-label">تاريخ الارسال من</label>
                                                <input type="text" class="form-control datepicker" name="from_date" ng-model="row.from_date"/>
                                            </div>
                                            <div class="col-md-4 col-sm-6">
                                                <label class="control-label">تاريخ الارسال إلى</label>
                                                <input type="text" class="form-control datepicker" name="to_date" ng-model="row.to_date"/>
                                            </div>
                                        </div>
                                        <div class="col-md-12 text-center ">
                                            <div class="col-md-4 text-center pull-right " style="padding-top: 3%;">
                                                <div class="clearfix pull-right">

                                                    <button  ng-click="_search(row)" class=" btn green" ><i class="fa fa-search" aria-hidden="true"></i>
                                                        <span class="">إبحث</span>
                                                    </button>
                                                    <button  ng-click="_reset()" class=" btn red" ><i class="fa fa-trash-o" aria-hidden="true"></i>
                                                        <span>إلغاء بحث</span>
                                                    </button>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="actions">
                            <div class="clearfix">
                                <div  class='add-new-btn' style="margin-bottom: 20px;">
                                    <a ng-click="open_notify()" class="btn yellow-crusta"> إضافة إشعار جديد 
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div data-ng-include="'tpl/forms/messages.html'"></div>
                        <div  ng-show="details.length == 0">
                            <table class="table table-striped table-bordered table-hover" id="sample_11">
                                <thead>
                                    <tr style=" background: #44b6ae; color: #fff;" class="">
                                        <th class="text-center"> #</th>
                                        <th class="text-center">الاشعار</th>
                                        <th class="text-center">المدير المرسل</th>
                                        <th class="text-center">التاريخ</th>
                                        <th class="text-center">العملية</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center" colspan="5" >لاتوجد سجلات</td>                                           
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-show="details.length > 0">

                            <table class="table table-striped table-bordered table-hover" id="sample_11">
                                <thead>
                                    <tr style=" background: #44b6ae; color: #fff;" class="">
                                        <th class="text-center" ng-click="sort('$index')"> #
                                            <span class="glyphicon sort-icon" ng-show="sortKey == '$index'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th class="text-center" ng-click="sort('notify_text')">الاشعار
                                            <span class="glyphicon sort-icon" ng-show="sortKey == 'notify_text'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                        <th class="text-center" ng-click="sort('admin.name')">المدير المرسل
                                            <span class="glyphicon sort-icon" ng-show="sortKey == 'admin.name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                        <th class="text-center" ng-click="sort('date')">التاريخ
                                            <span class="glyphicon sort-icon" ng-show="sortKey == 'date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                        <th class="text-center">العملية</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="(index,x) in details |orderBy:sortKey:reverse|filter:search|itemsPerPage:null">
                                        <td class="text-center" >{{ index + 1}}</td>
                                        <td class="text-center" >{{ x.notify_text}}</td>
                                        <td class="text-center" >{{ x.admin.name}}</td>
                                        <td class="text-center" >{{ x.date}}</td>
                                        <td class="text-center">
                                            <a ng-click="_delete(x.id)" class="btn text-danger fa fa-trash-o" title="حذف"></a>
                                            <a ng-click="_resend(x.notify_text)" class="btn text-success fa fa-reply" title="إعادة إرسال"></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                            <uib-pagination total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                            <select ng-model='x' ng-click="displayRows(x)" ng-init="x='20'" style='color: #666; border: #ddd solid 1px;'>
                                    <option value="20">عداد الاسطر</option>
                                    <option value="1">1</option>
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="50">50</option>
                                    <option value="200">200</option>
                                </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="add_notifications_modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body" style="padding: 22px;">
                <div class="row">
                    <div class="col-md-12" data-ng-include="'tpl/forms/messages.html'"></div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label bold text-center col-form-label col-md-12">نص الاشعار</label>
                            <div class="col-md-9">
                                <textarea class="form-control" rows="7" name="notify_text" ng-model="sms.notify_text" ></textarea>
                                <br />
                                <!--                                <select class="form-control" ng-if="viewUsers" name="user_id" ng-model="sms.user_id">
                                                                    <option value=''>اختر مستخدم</option>
                                                                    <option ng-repeat="u in users" type="{{u.type}}" value='{{u.id}}'>{{u.name}}</option>
                                                                </select>-->

                                <ui-select required ng-model="sms.user_id" name="user_id" theme="bootstrap" ng-if="viewUsers">
                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="user in users | filter: $select.search">
                                        <div ng-bind-html="user.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="col-md-3" style="text-align: left; border: solid 1px #ccc;">
                                <p>عملاء <input type="checkbox" value="1"  ng-model="sms.target1"/></p>
                                <p>مزودين خدمة <input type="checkbox" value="2"  ng-model="sms.target2"/></p>
                                <p>مندوبين <input type="checkbox" value="3"  ng-model="sms.target3"/></p>
                                <p>مستخدم معين <input type="checkbox" value="4"  ng-click="openUsersList()" ng-model="sms.target4"/></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="save(sms)" ng-disabled="sms.notify_text==''">ارسال</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">إلغاء</button>
            </div>
        </div>

    </div>
</div>

<script>
            $(document).ready(function () {
                $(".datepicker").mask("9999/99/99");
                $('.datepicker').datepicker({
                    format: 'yyyy/mm/dd',
                    forceParse: false
                });


            });
</script>