<style>
    .checked {
        color: orange;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list font-green-sharp"></i>
                    <span class="caption-subject font-black-sharp bold uppercase">تفاصيل طلب</span>
                </div>
            </div>



            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="portlet box green __web-inspector-hide-shortcut__">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-user"></i> العميل </div>

                                </div>
                                <div class="portlet-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="fileinput-new col-md-12">
                                                <img src="assets/layouts/layout/img/avatar_small.jpg" style="width: 130px; height: 95px;" ng-if="row.customer.image == ''"/>            
                                                <img src="../storage{{row.customer.image}}" alt="" ng-if="row.customer.image != ''" style="width: 130px; height: 95px;"/>
                                            </div>

                                        </div>

                                        <div class="col-md-6">
                                            <p>{{row.customer.full_name}}</p>
                                            <p>{{row.customer.mobile}}</p>
                                            <p>
                                                <span ng-if="row.customer.evaluation >= 1" class="fa fa-star checked"></span>
                                                <span ng-if="row.customer.evaluation >= 2" class="fa fa-star checked"></span>
                                                <span ng-if="row.customer.evaluation >= 3" class="fa fa-star checked"></span>
                                                <span ng-if="row.customer.evaluation >= 4" class="fa fa-star checked"></span>
                                                <span ng-if="row.customer.evaluation >= 5" class="fa fa-star checked"></span>

                                                <span ng-if="row.customer.evaluation < 1" class="fa fa-star"></span>
                                                <span ng-if="row.customer.evaluation < 2" class="fa fa-star"></span>
                                                <span ng-if="row.customer.evaluation < 3" class="fa fa-star"></span>
                                                <span ng-if="row.customer.evaluation < 4" class="fa fa-star"></span>
                                                <span ng-if="row.customer.evaluation < 5" class="fa fa-star"></span>
                                            </p>
                                        </div> 


                                    </div>
                                </div>
                            </div>



                            <div class="portlet box yellow-crusta __web-inspector-hide-shortcut__">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-user"></i> المندوب </div>

                                </div>
                                <div class="portlet-body">
                                    <div class="row" ng-if="row.delegate == null">
                                        <div class="col-md-12"> <i class="fa fa-warning font-red-sunglo"></i>
                                            لايوجد مندوب لهذا الطلب
                                        </div>
                                    </div>
                                    <div class="row" ng-if="row.delegate != null">
                                        <div class="col-md-6">
                                            <div class="fileinput-new col-md-12">
                                                <img src="assets/layouts/layout/img/avatar_small.jpg" style="width: 130px; height: 95px;" ng-if="row.delegate.image == ''"/>            
                                                <img src="../storage{{row.delegate.image}}" alt="" ng-if="row.delegate.image != ''" style="width: 130px; height: 95px;"/>
                                            </div>

                                        </div>

                                        <div class="col-md-6">
                                            <p>{{row.delegate.name}}</p>
                                            <p>{{row.delegate.mobile}}</p>
                                            <p>
                                                <span ng-if="row.delegate.evaluation >= 1" class="fa fa-star checked"></span>
                                                <span ng-if="row.delegate.evaluation >= 2" class="fa fa-star checked"></span>
                                                <span ng-if="row.delegate.evaluation >= 3" class="fa fa-star checked"></span>
                                                <span ng-if="row.delegate.evaluation >= 4" class="fa fa-star checked"></span>
                                                <span ng-if="row.delegate.evaluation >= 5" class="fa fa-star checked"></span>

                                                <span ng-if="row.delegate.evaluation < 1" class="fa fa-star"></span>
                                                <span ng-if="row.delegate.evaluation < 2" class="fa fa-star"></span>
                                                <span ng-if="row.delegate.evaluation < 3" class="fa fa-star"></span>
                                                <span ng-if="row.delegate.evaluation < 4" class="fa fa-star"></span>
                                                <span ng-if="row.delegate.evaluation < 5" class="fa fa-star"></span>
                                            </p>
                                        </div> 


                                    </div>
                                </div>
                            </div>

                            <div class="portlet box red-sunglo __web-inspector-hide-shortcut__">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-user"></i> المزود </div>

                                </div>
                                <div class="portlet-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="fileinput-new col-md-12">
                                                <img src="assets/layouts/layout/img/avatar_small.jpg" style="width: 130px; height: 95px;" ng-if="row.provider.image == ''"/>            
                                                <img src="../storage{{row.provider.image}}" alt="" ng-if="row.provider.image != ''" style="width: 130px; height: 95px;"/>
                                            </div>

                                        </div>

                                        <div class="col-md-6">
                                            <p>{{row.provider.name}}</p>
                                            <p>{{row.provider.mobile}}</p>

                                            <p>
                                                <span ng-if="row.provider.evaluation >= 1" class="fa fa-star checked"></span>
                                                <span ng-if="row.provider.evaluation >= 2" class="fa fa-star checked"></span>
                                                <span ng-if="row.provider.evaluation >= 3" class="fa fa-star checked"></span>
                                                <span ng-if="row.provider.evaluation >= 4" class="fa fa-star checked"></span>
                                                <span ng-if="row.provider.evaluation >= 5" class="fa fa-star checked"></span>

                                                <span ng-if="row.provider.evaluation < 1" class="fa fa-star"></span>
                                                <span ng-if="row.provider.evaluation < 2" class="fa fa-star"></span>
                                                <span ng-if="row.provider.evaluation < 3" class="fa fa-star"></span>
                                                <span ng-if="row.provider.evaluation < 4" class="fa fa-star"></span>
                                                <span ng-if="row.provider.evaluation < 5" class="fa fa-star"></span>
                                            </p>
                                        </div> 


                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12" style="border: 1px solid #ccc; padding-top: 15px;">
                                <label class="control-label col-md-12 bold"><i class="fa fa-location-arrow font-green-sharp"></i> الموقع  </label>
                                <p class="col-md-12" style=" padding: 15px;">{{row.distance}} كلم
                                    <i ng-click="openMap()" class="fa fa-map-marker font-red-sunglo" style=" cursor: pointer"></i>
                                </p>
                            </div>

                        </div>


                        <div class="col-md-8">
                            <div class="col-md-6">
                                <p class="col-md-12"><label class="control-label col-md-4 bold"> رقم الطلب</label>
                                    <label class="control-label col-md-6">{{row.order_id}} </label>
                                </p>
                                <p class="col-md-12"><label class="control-label col-md-6 bold"><i class="fa fa-calendar font-green-sharp"></i> تاريخ الطلب</label>
                                    <label class="control-label col-md-6">{{row.order_date}} </label>
                                </p>
                                <p class="col-md-12"><label class="control-label col-md-6 bold"><i class="fa fa-clock-o font-green-sharp"></i>  وقت قبول الطلب</label>
                                    <label class="control-label col-md-6">{{row.order_accept_time}} </label>
                                </p>
                                <p class="col-md-12"><label class="control-label col-md-6 bold"><i class="fa fa-gear font-green-sharp"></i> نوع الطلب</label>
                                    <label class="control-label col-md-6"><span ng-if="row.order_type == 1">أكلة خاصة ومناسبات</span>
                                        <span ng-if="row.order_type == 2">أكلات جاهزة</span>
                                        <span ng-if="row.order_type == 3">حلويات</span></label>
                                </p>
                                <p class="col-md-12"><label class="control-label col-md-6 bold"><i class="fa fa-recycle font-green-sharp"></i> وقت التوصيل </label>
                                    <label class="control-label col-md-6"> {{row.arraival_time}}</label>
                                </p>
                                <p class="col-md-12"><label class="control-label col-md-6 bold"><i class="fa fa-warning font-green-sharp"></i> الكمية  </label>
                                    <label class="control-label col-md-6">6 </label>
                                </p>
                            </div>

                            <div class="col-md-6">
                                <p class="col-md-12"><label class="control-label col-md-4 bold">الحالة</label>
                                    <label class="control-label col-md-6">{{row.status.name}} </label>
                                </p>
                                <p class="col-md-12"><label class="control-label col-md-12 bold">
                                        <i class="fa fa-dollar font-green-sharp"></i>  القيمة المادية</label>
                                </p>

                                <p class="col-md-12"><label class="control-label col-md-5 bold">سعر المنتجات</label>
                                    <label class="control-label col-md-6">{{row.total_amount}} ر.س </label>
                                </p>
                                <p class="col-md-12"><label class="control-label col-md-5 bold">قيمة التوصيل</label>
                                    <label class="control-label col-md-6">20 ر.س </label>
                                </p>
                                <p class="col-md-12"><label class="control-label col-md-5 bold">القيمة المضافة</label>
                                    <label class="control-label col-md-6">{{row.added_value}} ر.س </label>
                                </p>
                                <p class="col-md-12"><label class="control-label col-md-5 bold">قيمة التخفيض</label>
                                    <label class="control-label col-md-6">{{row.discount}} ر.س</label>
                                </p>


                            </div>




                            <div class="col-md-12" style="border: 1px solid #ccc; padding-top: 15px; min-height: 350px;">
                                <label class="control-label col-md-12 bold"><i class="fa fa-list font-green-sharp"></i> تفاصيل الطلب  </label>
                                <p class="col-md-12" style=" padding: 15px;">{{row.notes}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->
<div id="add_notifications_modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body" style="padding: 22px;">
                <div class="row">
                    <div class="col-md-12" data-ng-include="'tpl/forms/messages.html'"></div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label bold text-center col-form-label col-md-12">نص الاشعار</label>
                            <div class="col-md-9">
                                <textarea class="form-control" rows="7" name="notify_text" ng-model="sms.notify_text" ></textarea>
                                <br />
                                <!--                                <select class="form-control" ng-if="viewUsers" name="user_id" ng-model="sms.user_id">
                                                                    <option value=''>اختر مستخدم</option>
                                                                    <option ng-repeat="u in users" type="{{u.type}}" value='{{u.id}}'>{{u.name}}</option>
                                                                </select>-->

                                <ui-select required ng-model="sms.user_id" name="user_id" theme="bootstrap" ng-if="viewUsers">
                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="user in users | filter: $select.search">
                                        <div ng-bind-html="user.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="col-md-3" style="text-align: left; border: solid 1px #ccc;">
                                <p>عملاء <input type="checkbox" value="1"  ng-model="sms.target1"/></p>
                                <p>مزودين خدمة <input type="checkbox" value="2"  ng-model="sms.target2"/></p>
                                <p>مندوبين <input type="checkbox" value="3"  ng-model="sms.target3"/></p>
                                <p>مستخدم معين <input type="checkbox" value="4"  ng-click="openUsersList()" ng-model="sms.target4"/></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="save(sms)" ng-disabled="sms.notify_text == ''">ارسال</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">إلغاء</button>
            </div>
        </div>

    </div>
</div>

<div id="map_modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa fa-close" data-dismiss="modal" style="
                   cursor: pointer;
                   float: left;
                   font-size: 20px;
                   "></i>
            </div>
            <div class="modal-body" style="padding:20px;">
                <div class="row">
                    <map center="{{mapcenter.lat}}, {{mapcenter.lng}}" zoom="8" style="height: 450px;">
                        <marker id="gmapMarker" on-click="showInfoWindow('myInfoWindow')" position="{{markers[0].lat}}, {{markers[0].lng}}" title='hello' >
                            <info-window id="myInfoWindow" visible-on-marker="gmapMarker">
                                <div >
                                    مكان التسليم
                                </div>
                            </info-window>

                        </marker>
                        
                        <marker id="gmapMarker1" on-click="showInfoWindow('myInfoWindow1')" position="{{markers[1].lat}}, {{markers[1].lng}}" title='hello' >
                            <info-window id="myInfoWindow1" visible-on-marker="gmapMarker1">
                                <div >
                                    مكان الاستلام
                                </div>
                            </info-window>

                        </marker>
                    </map>  

                </div>
            </div>
        </div>

    </div>
</div>

