<div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-steel">
                        <i class="font-green-steel"></i>
                        <h3>
                            <i class="fa fa-list font-green-sharp"></i>
                            <span class="caption-subject font-dark bold">قائمة الطلبات</span>
                        </h3>
                    </div>

                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12" style="background-color:  #e7ecf1;margin-bottom: 1%; padding-top: 2%; padding-bottom: 2%; box-sizing: border-box; border-radius:10px; border: 1px #f5f5f5 solid; " >
                            <div class="col-md-12">
                                <form name="frmsearch">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-3 col-sm-6">
                                                <label class="control-label">معرف الطلب</label>
                                                <input type="text" class="form-control" name="order_id" ng-model="row.order_id"/>
                                             </div>
                                            <div class="col-md-3 col-sm-6">
                                                <label class="control-label">جوال أو اسم العميل </label>
                                                <input type="text" class="form-control" name="customer" ng-model="row.customer"/>
                                            </div>
                                            <div class="col-md-3 col-sm-6">
                                                <label class="control-label">جوال او اسم مزود الخدمة</label>
                                                <input type="text" class="form-control" name="provider"  ng-model="row.provider"/>
                                            </div>
                                            <div class="col-md-3 col-sm-6">
                                                <label class="control-label">جوال او اسم المندوب</label>
                                                <input type="text" class="form-control" name="delegate"  ng-model="row.delegate"/>
                                            </div>
                                            <div class="col-md-3 col-sm-6">
                                                <label class="control-label">الحالة</label>
                                                <select class="form-control" name="order_status"  ng-model="row.order_status">
                                                    <option value="">الكل</option>
                                                    <option value="1">جديد</option>
                                                    <option value="2"> جاري التحضير</option>
                                                    <option value="3"> تم التحضير</option>
                                                    <option value="4"> جاري التوصيل</option>
                                                    <option value="5"> تم التسليم</option>
                                                    <option value="6"> تم الاستلام</option>
                                                    <option value="7">ملغي</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3 col-sm-6">
                                                <label class="control-label">النوع</label>
                                                <select class="form-control" name="order_type"  ng-model="row.order_type">
                                                    <option value="">الكل</option>
                                                    <option value="1">أكلة خاصة ومناسبات</option>
                                                    <option value="2">أكلات جاهزة</option>
                                                    <option value="3">حلويات</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3 col-sm-6">
                                                <label class="control-label"> تاريخ الطلب من</label>
                                                <input type="text" class="form-control datepicker" name="from_order_date"  ng-model="row.from_order_date"/>
                                            </div>
                                            <div class="col-md-3 col-sm-6">
                                                <label class="control-label"> تاريخ الطلب إلى</label>
                                                <input type="text" class="form-control datepicker" name="to_order_date"  ng-model="row.to_order_date"/>
                                            </div>
                                        </div>
                                        <div class="col-md-12 text-center ">
                                            <div class="col-md-4 text-center pull-right " style="padding-top: 3%;">
                                                <div class="clearfix pull-right">
                                                    
                                                    <button  ng-click="_search(row)" class=" btn green" ><i class="fa fa-search" aria-hidden="true"></i>
                                                        <span class="">إبحث</span>
                                                    </button>
                                                    <button  ng-click="_reset()" class=" btn red" ><i class="fa fa-trash-o" aria-hidden="true"></i>
                                                        <span>إلغاء بحث</span>
                                                    </button>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                            <div data-ng-include="'tpl/forms/messages.html'"></div>
                            <div  ng-show="details.length == 0">
                                <table class="table table-striped table-bordered table-hover" id="sample_11">
                                    <thead>
                                        <tr style=" background: #44b6ae; color: #fff;" class="">
                                            <th class="text-center" > معرف الطلب</th>
                                            <th class="text-center" > العميل </th>
                                            <th class="text-center" >المندوب </th>
                                            <th class="text-center" > مزود الخدمة </th>
                                            <th class="text-center">تاريخ الطلب</th>
                                            <th class="text-center"> الحالة</th>
                                            <th class="text-center">العملية </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center" colspan="7" >لاتوجد سجلات</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div ng-show="details.length > 0">

                                <table class="table table-striped table-bordered table-hover" id="sample_11">
                                    <thead>
                                        <tr style=" background: #44b6ae; color: #fff;" class="">
                                            <th class="text-center" ng-click="sort('order_id')"> معرف الطلب
                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'order_id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th class="text-center" ng-click="sort('customer.full_name')">العميل 
                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'customer.full_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                             <th class="text-center" ng-click="sort('delegate.name')">المندوب
                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'delegate.name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                            <th class="text-center" ng-click="sort('provider.name')">مزود الخدمة
                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'provider.name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                           <th class="text-center" ng-click="sort('order_date')">تاريخ الطلب 
                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'order_date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                            <th class="text-center" ng-click="sort('email')">الحالة 
                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'email'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                            
                                            <th class="text-center">العملية</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="x in details |orderBy:sortKey:reverse|filter:search|itemsPerPage:null">
                                            <td class="text-center" >{{ x.order_id}}</td>
                                            <td class="text-center" >{{ x.customer.full_name}}</td>
                                            <td class="text-center" >{{ x.delegate.name}}</td>
                                            <td class="text-center" >{{ x.provider.name}}</td>
                                            <td class="text-center" >{{ x.order_date}}</td>
                                            <td class="text-center" >{{ x.status.name}}</td>
                                            <td class="text-center">
                                                <a ng-click="_edit('/orders/show/', x.id)" class="btn fa fa-list text-success" title="تفاصيل"></a>
                                        </tr>
                                    </tbody>
                                </table>


                                <uib-pagination total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                                <select ng-model='x' ng-click="displayRows(x)" ng-init="x='20'" style='color: #666; border: #ddd solid 1px;'>
                                    <option value="20">عداد الاسطر</option>
                                    <option value="1">1</option>
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="50">50</option>
                                    <option value="200">200</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
            $(document).ready(function () {
                $(".datepicker").mask("9999/99/99");
                $('.datepicker').datepicker({
                    format: 'yyyy/mm/dd',
                    forceParse: false
                });


            });
</script>