<style>
    .checked {
        color: orange;
    }
    .grey {
        color: #ccc;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-user font-green-sharp"></i>
                    <span class="caption-subject font-black-sharp bold uppercase">تفاصيل عميل</span>
                </div>
            </div>

            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <p class="col-md-12"><label class="control-label col-md-12 bold"> <i class="fa fa-user font-green-sharp"></i>الاسم كامل</label>
                                <label class="control-label col-md-12">{{row.full_name}} </label>
                            </p>
                            <p class="col-md-12"><label class="control-label col-md-12 bold"> <i class="fa fa-envelope font-green-sharp"></i> البريد الالكتروني</label>
                                <label class="control-label col-md-12">{{row.email}} </label>
                            </p>
                            <p class="col-md-12"><label class="control-label col-md-12 bold"><i class="fa fa-flag font-green-sharp"></i> الدولة </label>
                                <label class="control-label col-md-12">{{row.country.Name}} </label>
                            </p>
                            <p class="col-md-12"><label class="control-label col-md-12 bold"><i class="fa fa-genderless font-green-sharp"></i> الجنس  </label>
                                <label class="control-label col-md-12"><span ng-if="row.gender_id == 1">ذكر</span> <span ng-if="row.gender_id == 2">أنثى</span> </label>
                            </p>

                        </div>

                        <div class="col-md-4">
                            <p class="col-md-12"><label class="control-label col-md-12 bold"> <i class="fa fa-id-card font-green-sharp"></i> رقم الهوية</label>
                                <label class="control-label col-md-12">{{row.id_no}} </label>
                            </p>

                            <p class="col-md-12"><label class="control-label col-md-12 bold"> <i class="fa fa-mobile font-green-sharp"></i> رقم الجوال   </label>
                                <label class="control-label col-md-12">{{row.mobile}} </label>
                            </p>
                            <p class="col-md-12"><label class="control-label col-md-12 bold"><i class="fa fa-building font-green-sharp"></i> المدينة </label>
                                <label class="control-label col-md-12">{{row.city.Name}} </label>
                            </p>
                            <p class="col-md-12"><label class="control-label col-md-12 bold"><i class="fa fa-calendar font-green-sharp"></i> تاريخ الميلاد  </label>
                                <label class="control-label col-md-12">{{row.birth_date}} </label>
                            </p>
                        </div>

                        <div class="col-md-4" style=" text-align: center;">
                            <div class="fileinput-new col-md-12">
                                <img src="assets/layouts/layout/img/avatar_small.jpg" style="width: 200px; height: 140px;" ng-if="row.image == ''"/>            
                                <img src="../storage{{row.image}}" alt="" ng-if="row.image != ''" style="width: 200px; height: 140px;"/>
                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <span ng-if="evaluation >= 1" class="fa fa-star checked"></span>
                                    <span ng-if="evaluation >= 2" class="fa fa-star checked"></span>
                                    <span ng-if="evaluation >= 3" class="fa fa-star checked"></span>
                                    <span ng-if="evaluation >= 4" class="fa fa-star checked"></span>
                                    <span ng-if="evaluation >= 5" class="fa fa-star checked"></span>

                                    <span ng-if="evaluation < 1" class="fa fa-star grey"></span>
                                    <span ng-if="evaluation < 2" class="fa fa-star grey"></span>
                                    <span ng-if="evaluation < 3" class="fa fa-star grey"></span>
                                    <span ng-if="evaluation < 4" class="fa fa-star grey"></span>
                                    <span ng-if="evaluation < 5" class="fa fa-star grey"></span>
                                </div>
                                <div class="col-md-12" style="text-align:center">{{row.orders.length}} طلب</div>

                            </div>
                        </div>     

                        <div class="col-md-12"><label class="control-label col-md-2 bold">صورة الهوية</label> 
                            <a ng-click="open_image()">
                                <img src="../storage{{row.id_image}}" ng-if="row.id_image != ''" style="width: 40px; height: 27px;"/>
                            </a>
                            <span ng-if="row.id_image == ''">صورة الهوية غير متوفرة</span>
                        </div>
                    </div>


                    <!--tabs-->
                    <div class="col-md-12">
                        <div class="portlet-body">
                            <div class="row" style="border: solid 1px #eee; margin:15px; padding: 15px;">
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <ul class="nav nav-tabs tabs-left">

                                        <li class="dropdown active" >
                                            <a data-target="#tab_1" tabindex="-1" data-toggle="tab" aria-expanded="true"> الطلبات </a>

                                        </li>
                                        <li class="dropdown" >
                                            <a data-target="#tab_2" tabindex="-1" data-toggle="tab" aria-expanded="true"> سجل الدفعات </a>

                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                    <div class="tab-content">

                                        <div class="tab-pane fade"  id="tab_2">
                                            <div  ng-show="payments.length == 0">
                                                <table class="table table-striped table-bordered table-hover" id="sample_11">
                                                    <thead>
                                                        <tr style=" background: #44b6ae; color: #fff;" class="">
                                                            <th class="text-center" > قيمة الدفعة</th>
                                                            <th class="text-center" > طريقة الدفع</th>
                                                            <th class="text-center" >تاريخ الدفع</th>
                                                            <th class="text-center" >وصل الدفع</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="text-center" colspan="4" >لاتوجد سجلات</td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div ng-show="payments.length > 0">

                                                <table class="table table-striped table-bordered table-hover" id="sample_11">
                                                    <thead>
                                                        <tr style=" background: #44b6ae; color: #fff;" class="">
                                                            <th class="text-center" ng-click="sort('order.order_id')"> قيمة الدفعة
                                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'order.order_id'" ng-class="{
                                                                        'glyphicon-chevron-up':reverse, 'glyphicon-chevron-down':!reverse}"></span>
                                                            </th>
                                                            <th class="text-center" ng-click="sort('order.order_id')"> طريقة الدفع
                                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'order.order_id'" ng-class="{
                                                                        'glyphicon-chevron-up':reverse, 'glyphicon-chevron-down':!reverse}"></span>
                                                            </th>
                                                            <th class="text-center" ng-click="sort('date')">تاريخ الدفع
                                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'date'" ng-class="{
                                                                        'glyphicon-chevron-up':reverse, 'glyphicon-chevron-down':!reverse}"></span></th>
                                                            <th class="text-center" ng-click="sort('amount')"> وصل الدفع
                                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'amount'" ng-class="{
                                                                        'glyphicon-chevron-up':reverse, 'glyphicon-chevron-down':!reverse}"></span></th>
                                                           
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr dir-paginate="x in payments |orderBy:sortKey:reverse|filter:search|itemsPerPage:null">
                                                            <td class="text-center" >{{ x.amount}} ر.س</td>
                                                            <td class="text-center" ><span ng-if="x.payment_way_id==1">كاش</span>
                                                            <span ng-if="x.payment_way_id==2">فيزا</span>
                                                            <span ng-if="x.payment_way_id==3">تحويل بنكي</span>
                                                            </td>
                                                            <td class="text-center" >{{ x.date}}</td>
                                                            <td class="text-center" ><img src="../storage{{x.bill}}" width="40" height="40" ng-if="x.bill != ''" /> </td>
                                                            
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>

                                        </div>

                                        <div class="tab-pane fade active in"  id="tab_1">

                                            <div  ng-show="row.orders.length == 0">
                                                <table class="table table-striped table-bordered table-hover" id="sample_11">
                                                    <thead>
                                                        <tr style=" background: #44b6ae; color: #fff;" class="">
                                                            <th class="text-center" > معرف الطلب</th>
                                                            <th class="text-center" >تاريخ الطلب</th>
                                                            <th class="text-center" >الحالة </th>
                                                            <th class="text-center">العملية</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="text-center" colspan="4" >لاتوجد سجلات</td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div ng-show="row.orders.length > 0">

                                                <table class="table table-striped table-bordered table-hover" id="sample_11">
                                                    <thead>
                                                        <tr style=" background: #44b6ae; color: #fff;" class="">
                                                            <th class="text-center" ng-click="sort('order_id')"> معرف الطلب
                                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'order_id'" ng-class="{
                                                                        'glyphicon-chevron-up':reverse, 'glyphicon-chevron-down':!reverse}"></span>
                                                            </th>
                                                            <th class="text-center" ng-click="sort('from_place')">تاريخ الطلب
                                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'from_place'" ng-class="{
                                                                        'glyphicon-chevron-up':reverse, 'glyphicon-chevron-down':!reverse}"></span></th>
                                                            <th class="text-center" ng-click="sort('status.name')">الحالة 
                                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'status.name'" ng-class="{
                                                                        'glyphicon-chevron-up':reverse, 'glyphicon-chevron-down':!reverse}"></span></th>
                                                            <th class="text-center">العملية</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr dir-paginate="x in row.orders |orderBy:sortKey:reverse|filter:search|itemsPerPage:null">
                                                            <td class="text-center" >{{ x.order_id}}</td>
                                                            <td class="text-center" >{{ x.order_date}}</td>
                                                            <td class="text-center" >{{ x.status.name}}</td>
                                                            <td class="text-center">
                                                                <a href="#/orders/show/{{x.id}}" class="btn text-success" title="تفاصيل"><i class="fa fa-list"></i></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
                <div class="form-actions" style="background-color: #f5f5f5; padding: 20px 0">
                    <div class="row">
                        <div class="col-md-offset-5 col-md-6">
                            <button ng-blur="focus_first()" ng-click="_save(row)" ng-disabled="form.$invalid" class="btn green submit-btn">
                                <i class="fa fa-save"></i> حفظ </button>
                            <button type="button" ng_click='_cancel()' class="btn red"> <i class="fa fa-mail-forward"></i> رجوع</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->

<div id="id_image_modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa fa-close" data-dismiss="modal" style="
                   cursor: pointer;
                   float: left;
                   font-size: 20px;
                   "></i>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" style="text-align: center">
                        <img src="../storage{{row.id_image}}" />

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>