<style>
    .ngTruncateToggleText {
        color: red;
    }  
</style>
  <div   class="alert alert-success alert-dismissable" ng-class="{ 'hidden': !showSuccess }">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
    <strong>نجاح !</strong> 
    <p ng-bind-html="success_msg"></p>  </div>
                <div  class="alert alert-danger alert-dismissable"  ng-class="{ 'hidden': !showError }" >
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
    <strong>خطأ !</strong>
    
    <div ng-show="!error_message_details" >
        <p style="margin:0px" ng-bind-html="error_msg"></p>
    </div>
</div>

