<style>
    .checked {
        color: orange;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-user font-green-sharp"></i>
                    <span class="caption-subject font-black-sharp bold uppercase">تعديل مندوب</span>
                </div>
            </div>



            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <p class="col-md-6"><label class="control-label col-md-12 bold"> الاسم</label>
                                <input type="text" class="form-control" name="name" ng-model="row.name" required />
                            </p>
                            <p class="col-md-6"><label class="control-label col-md-12 bold"> الحالة </label>
                                <select class="form-control" name="status_id" ng-model="row.status_id">
                                    <option value="1" ng-selected="row.status_id == 1">مفعل</option>
                                    <option value="2" ng-selected="row.status_id == 2">موقوف</option>
                                </select>
                            </p>
                            <p class="col-md-6"><label class="control-label col-md-12 bold">  رقم الجوال</label>
                                <input type="text" class="form-control" name="mobile" ng-model="row.mobile" required />
                            </p>
                            <p class="col-md-6"><label class="control-label col-md-12 bold">  رقم الهاتف</label>
                                <input type="text" class="form-control" name="phone" ng-model="row.phone" required />
                            </p>
                            <p class="col-md-6"><label class="control-label col-md-12 bold">كلمة العبور</label>
                                <input type="password" class="form-control" name="password" ng-model="row.password"  />
                            </p>
                            <p class="col-md-6"><label class="control-label col-md-12 bold">إعادة كلمة العبور</label>
                                <input type="password" class="form-control" name="password1" ng-model="row.password1"  />
                                <span class="alert alert-danger" aria-required="true" ng-show="(row.password != row.password1)" style="padding: 7px; border-right: solid 5px #f0868e; margin: 5px 0 0 0;">
                                    كلمة العبور غير متطابقة   </span>
                            </p>
                            <p class="col-md-12"><label class="control-label col-md-12 bold">البريد الالكتروني</label>
                                <input type="text" class="form-control" name="email" ng-model="row.email" required />
                            </p>
                            <p class="col-md-12"><label class="control-label col-md-12 bold">العنوان </label>
                                <input type="text" class="form-control" name="address" ng-model="row.address" required />
                            </p>
                            <p class="col-md-12"><label class="control-label col-md-12 bold"> الحساب البنكي  </label>
                                <input type="text" class="form-control" name="bank_account" ng-model="row.bank_account" required />
                            </p>
                        </div>

                        <div class="col-md-3" style="border:1px solid #eee; padding-top: 15px;">
                            <p class="col-md-12"><label class="control-label col-md-7">  عدد العمليات</label>
                                <label class="control-label col-md-5 bold">{{row.orders.length}} </label>                                
                            </p>
                            <p class="col-md-12"><label class="control-label col-md-7">مجمل المداخيل</label>
                                <label class="control-label col-md-5 bold">{{totalIncome}} ر.س</label>                                
                            </p>
                            <p class="col-md-12"><label class="control-label col-md-7">مرابيح المؤسسة</label>
                                <label class="control-label col-md-5 bold">{{profit}} ر.س</label>                                
                            </p>
                            <p class="col-md-12"><label class="control-label col-md-7">تم تسديده</label>
                                <label class="control-label col-md-5 bold">{{totalPaied}} ر.س</label>                                
                            </p>
                            <p class="col-md-12"><label class="control-label col-md-7"> متبقى </label>
                                <label class="control-label col-md-5 bold">{{totalRemind}} ر.س</label>                                
                            </p>

                        </div>

                        <div class="col-md-3" style="text-align:center">
                            <div class="fileinput-new col-md-12">
                                <img src="assets/layouts/layout/img/avatar_small.jpg" style="width: 200px; height: 130px;" ng-if="row.image = ' '"/>            
                                <img src="../storage{{row.image}}" alt=""/></div>


                            <div class="row">
                                <div class="col-md-12">
                                    <span ng-if="evaluation >= 1" class="fa fa-star checked"></span>
                                    <span ng-if="evaluation >= 2" class="fa fa-star checked"></span>
                                    <span ng-if="evaluation >= 3" class="fa fa-star checked"></span>
                                    <span ng-if="evaluation >= 4" class="fa fa-star checked"></span>
                                    <span ng-if="evaluation >= 5" class="fa fa-star checked"></span>

                                    <span ng-if="evaluation < 1" class="fa fa-star grey"></span>
                                    <span ng-if="evaluation < 2" class="fa fa-star grey"></span>
                                    <span ng-if="evaluation < 3" class="fa fa-star grey"></span>
                                    <span ng-if="evaluation < 4" class="fa fa-star grey"></span>
                                    <span ng-if="evaluation < 5" class="fa fa-star grey"></span>
                                </div>
                                <div class="col-md-12" >{{row.orders.length}} طلب</div>

                            </div>
                            
                            <div class="row col-md-12" style="padding-left:0px; margin-top: 10px;">
                                <map center="{{mapcenter.lat}}, {{mapcenter.lng}}" zoom="8" style="height: 250px;">
                                    <marker ng-repeat="pos in markers" position="{{pos.lat}}, {{pos.lng}}"></marker>
                                </map>
                            </div>

                        </div>
                        
                        <div class="col-md-12">
                            <span class="btn green">الوثائق <i class="fa fa-files-o"></i>  </span>
                            <span ng-repeat="x in files" style="margin-left:10px;">
                                <i ng-click="deleteFile(x.id)" class="fa fa-close font-red" style="position: relative;top: -18px;left:-48px; cursor: pointer"></i>
                                <img src="../storage{{x.image}}" width="40" height="40" /></span>
                            
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <span class="btn yellow-crusta btn-file">
                                        <span class="fileinput-new ">  <i class="fa fa-plus"></i> </span>
                                        <span class="fileinput-exists"> <i class="fa fa-plus"></i> </span>
                                        <input type="file" name="addFile" id="addFile"> </span>
<!--                                    <span class="fileinput-filename"> </span> &nbsp;
                                    <a href="#" class="close fileinput-exists" data-dismiss="fileinput"> </a>-->
                                </div>
                            
                            
                        </div>
                    </div>


                    <!--tabs-->
                    <div class="col-md-12">
                        <div class="portlet-body">
                            <div class="row" style="border: solid 1px #eee; margin:15px; padding: 15px;">
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <ul class="nav nav-tabs tabs-left">
                                        <li class="dropdown active" >
                                            <a data-target="#tab_2" tabindex="-1" data-toggle="tab" aria-expanded="true"> الطلبات </a>

                                        </li>
                                        <li class="dropdown" >
                                            <a data-target="#tab_3" tabindex="-1" data-toggle="tab" aria-expanded="true"> طرق الدفع  </a>

                                        </li>
                                        <li class="dropdown" >
                                            <a data-target="#tab_4" tabindex="-1" data-toggle="tab" aria-expanded="true"> سداد </a>

                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                    <div class="tab-content">

                                        <div class="tab-pane fade active in"  id="tab_2">

                                            <div  ng-show="row.orders.length == 0">
                                                <table class="table table-striped table-bordered table-hover" id="sample_11">
                                                    <thead>
                                                        <tr style=" background: #44b6ae; color: #fff;" class="">
                                                            <th class="text-center" > معرف الطلب</th>
                                                            <th class="text-center" > السعر</th>
                                                            <th class="text-center" > العميل</th>
                                                            <th class="text-center" > النوع</th>
                                                            <th class="text-center" >الحالة </th>
                                                            <th class="text-center" >طريقة الدفع </th>
                                                            <th class="text-center">العملية</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="text-center" colspan="7" >لاتوجد سجلات</td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div ng-show="row.orders.length > 0">

                                                <table class="table table-striped table-bordered table-hover" id="sample_11">
                                                    <thead>
                                                        <tr style=" background: #44b6ae; color: #fff;" class="">
                                                            <th class="text-center" ng-click="sort('order_id')"> معرف الطلب
                                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'order_id'" ng-class="{
                                                                        'glyphicon-chevron-up':reverse, 'glyphicon-chevron-down':!reverse}"></span>
                                                            </th>
                                                            <th class="text-center" ng-click="sort('from_place')"> السعر
                                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'from_place'" ng-class="{
                                                                        'glyphicon-chevron-up':reverse, 'glyphicon-chevron-down':!reverse}"></span></th>
                                                            <th class="text-center" ng-click="sort('from_place')"> العميل
                                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'from_place'" ng-class="{
                                                                        'glyphicon-chevron-up':reverse, 'glyphicon-chevron-down':!reverse}"></span></th>
                                                            <th class="text-center" ng-click="sort('from_place')"> النوع
                                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'from_place'" ng-class="{
                                                                        'glyphicon-chevron-up':reverse, 'glyphicon-chevron-down':!reverse}"></span></th>
                                                            <th class="text-center" ng-click="sort('status.name')">الحالة 
                                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'status.name'" ng-class="{
                                                                        'glyphicon-chevron-up':reverse, 'glyphicon-chevron-down':!reverse}"></span></th>
                                                            <th class="text-center" ng-click="sort('status.name')">طريقة الدفع 
                                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'status.name'" ng-class="{
                                                                        'glyphicon-chevron-up':reverse, 'glyphicon-chevron-down':!reverse}"></span></th>
                                                            <th class="text-center">العملية</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                         <tr dir-paginate="x in row.orders |orderBy:sortKey:reverse|filter:search|itemsPerPage:null">
                                                            <td class="text-center" >{{ x.order_id}}</td>
                                                            <td class="text-center" >{{ x.total_amount}} ر.س</td>
                                                            <td class="text-center" >{{ x.customer.full_name}}</td>
                                                            <td class="text-center" >
                                                                <span ng-if="x.order_type == 1">أكلة خاصة ومناسبات</span>
                                                                <span ng-if="x.order_type == 2">أكلات جاهزة</span>
                                                                <span ng-if="x.order_type == 3">حلويات</span>
                                                            </td>
                                                            <td class="text-center" >
                                                                <span ng-if="x.order_status == 1">جديد  </span>
                                                                <span ng-if="x.order_status == 2"> جاري التحضير</span>
                                                                <span ng-if="x.order_status == 3">تم التحضير </span>
                                                                <span ng-if="x.order_status == 4">جاري التوصيل  </span>
                                                                <span ng-if="x.order_status == 5">تم التسليم  </span>
                                                                <span ng-if="x.order_status == 6">تم الاستلام  </span>
                                                                <span ng-if="x.order_status == 7">ملغي  </span>
                                                            </td>
                                                            <td class="text-center" >
                                                                <span ng-if="x.order_type == 1">كاش  </span>
                                                                <span ng-if="x.order_type == 2"> فيزا</span>
                                                                <span ng-if="x.order_type == 3">تحويل بنكي</span>
                                                            </td>
                                                            <td class="text-center">
                                                                <a href="#/orders/show/{{x.id}}" class="btn text-success" title="تفاصيل"><i class="fa fa-list"></i></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>

                                        </div>
                                        
                                       <div class="tab-pane fade"  id="tab_3">
                                            <div data-ng-include="'tpl/forms/messages.html'"></div>

                                            <table class="table table-striped table-bordered table-hover" id="sample_11">
                                                <tr>
                                                    <td>
                                                        <select class="form-control" name="payment_way_id" ng-model="payment_way_id">
                                                            <option value="">طريقة الدفع</option>
                                                            <option value="1">كاش</option>
                                                            <option value="2">فيزا</option>
                                                            <option value="3">تحويل بنكي</option>
                                                        </select>
                                                    </td>
                                                    <td><a ng-click="add_payment_way(payment_way_id)" class="btn fa fa-plus text-success" title="إضافة"></a></td>

                                                </tr>
                                            </table>

                                            <div  ng-show="row.payment_ways.length == 0">
                                                <table class="table table-striped table-bordered table-hover" id="sample_11">
                                                    <thead>
                                                        <tr style=" background: #44b6ae; color: #fff;" class="">
                                                            <th class="text-center" >الطريقة</th>
                                                            <th class="text-center">حذف</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="text-center" colspan="2" >لاتوجد سجلات</td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div ng-show="row.payment_ways.length > 0">
                                                <table class="table table-striped table-bordered table-hover" id="sample_11">
                                                    <thead>
                                                        <tr style=" background: #44b6ae; color: #fff;" class="">
                                                            <th class="text-center" ng-click="sort('name')"> الطريقة
                                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'name'" ng-class="{
                                                                        'glyphicon-chevron-up':reverse, 'glyphicon-chevron-down':!reverse}"></span>
                                                            </th>
                                                            <th class="text-center">حذف</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr dir-paginate="x in row.payment_ways |orderBy:sortKey:reverse|filter:search|itemsPerPage:null">
                                                            <td class="text-center" ><span ng-if="x.payment_way_id == 1">كاش</span>
                                                                <span ng-if="x.payment_way_id == 2">فيزا</span>
                                                                <span ng-if="x.payment_way_id == 3">تحويل بنكي</span>
                                                            </td>
                                                            <td class="text-center">
                                                                <a ng-click="delete_payment_way(x.id)" class="btn fa fa-trash text-danger" title="حذف"></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>

                                        </div>

                                        <div class="tab-pane fade"  id="tab_4">

                                            <div  ng-show="row.financial.length == 0">
                                                <table class="table table-striped table-bordered table-hover" id="sample_11">
                                                    <thead>
                                                        <tr style=" background: #44b6ae; color: #fff;" class="">
                                                            <th class="text-center" >المبلغ</th>
                                                            <th class="text-center" > الطريقة</th>
                                                            <th class="text-center" >المرفق </th>
                                                            <th class="text-center" >تاريخ السداد </th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="text-center" colspan="4" >لاتوجد سجلات</td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div ng-show="row.financial.length > 0">

                                                <table class="table table-striped table-bordered table-hover" id="sample_11">
                                                    <thead>
                                                        <tr style=" background: #44b6ae; color: #fff;" class="">
                                                            <th class="text-center" ng-click="sort('name')"> المبلغ
                                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'name'" ng-class="{
                                                                        'glyphicon-chevron-up':reverse, 'glyphicon-chevron-down':!reverse}"></span>
                                                            </th>
                                                            <th class="text-center" ng-click="sort('item.name')"> الطريقة
                                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'item.name'" ng-class="{
                                                                        'glyphicon-chevron-up':reverse, 'glyphicon-chevron-down':!reverse}"></span></th>
                                                            <th class="text-center" ng-click="sort('price')">المرفق 
                                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'price'" ng-class="{
                                                                        'glyphicon-chevron-up':reverse, 'glyphicon-chevron-down':!reverse}"></span></th>
                                                            <th class="text-center" ng-click="sort('date')">تاريخ السداد 
                                                                <span class="glyphicon sort-icon" ng-show="sortKey == 'date'" ng-class="{
                                                                        'glyphicon-chevron-up':reverse, 'glyphicon-chevron-down':!reverse}"></span></th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr dir-paginate="x in row.financial |orderBy:sortKey:reverse|filter:search|itemsPerPage:null">
                                                            <td class="text-center" >{{ x.price}} ر.س</td>
                                                            <td class="text-center" ><span ng-if="x.payment_way_id==1">كاش</span>
                                                            <span ng-if="x.payment_way_id==3">تحويل بنكي</span>
                                                            </td>
                                                            <td class="text-center" ><img src="../storage{{ x.bill}}" width="40" height="40" ng-if="x.bill != ''"/></td>
                                                            <td class="text-center" >{{ x.pay_date}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
                <div class="form-actions" style="background-color: #f5f5f5; padding: 20px 0">
                    <div class="row">
                        <div class="col-md-offset-5 col-md-6">
                            <button ng-blur="focus_first()" ng-click="_save(row)" ng-disabled="row.password != row.password1" class="btn green submit-btn">
                                <i class="fa fa-save"></i> حفظ </button>
                            <button type="button" ng_click='_cancel()' class="btn red"> <i class="fa fa-mail-forward"></i> رجوع</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->