<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-steel">
                    <i class="font-green-steel"></i>
                    <h3>
                        <i class="fa fa-gears font-green-sharp"></i>
                        <span class="caption-subject font-dark bold">قائمة الإعدادات</span>
                    </h3>
                </div>
            </div>

            <div class="portlet-body">
                <div class="row" style="border: solid 1px #eee; margin:15px; padding: 15px;">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <ul class="nav nav-tabs tabs-left">

                            <li class="dropdown active" >
                                <a data-target="#tab_1" tabindex="-1" data-toggle="tab" aria-expanded="true"> النسب </a>
                            </li>
                            <li class="dropdown" >
                                <a data-target="#tab_2" tabindex="-1" data-toggle="tab" aria-expanded="true"> تسعيرة التوصيل </a>
                            </li>
                            <li class="dropdown" >
                                <a data-target="#tab_3" tabindex="-1" data-toggle="tab" aria-expanded="true"> أكواد الخصم </a>
                            </li>
                            <li class="dropdown" >
                                <a data-target="#tab_4" tabindex="-1" data-toggle="tab" aria-expanded="true">المدن</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <div class="tab-content">

                            <div class="tab-pane fade active in"  id="tab_1">
                                <div class="portlet-body form">
                                    <div class="col-md-12" ng-if="tab1" data-ng-include="'tpl/forms/messages.html'"></div>
                                    <!-- BEGIN FORM-->
                                    <form  name="form" role="form" novalidate class="form-horizontal form-row-seperated">
                                        <div class="form-body">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">النسبة العامة
                                                    <span class="required" aria-required="true"> * </span></label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" name="general_percentage"  ng-model="row.general_percentage" required  /> 
                                                    <div class="alert alert-danger" aria-required="true" ng-show="form.general_percentage.$dirty && form.general_percentage.$invalid" style="padding: 7px; border-right: solid 5px #f0868e; margin: 5px 0 0 0;">
                                                        هذا الحقل مطلوب </div>
                                                </div>
                                                %
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">المسافة القصوى 
                                                    <span class="required" aria-required="true"> * </span></label> 
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" name="max_distance"  ng-model="row.max_distance"  required/> 
                                                    <div class="alert alert-danger" aria-required="true" ng-show="form.max_distance.$dirty && form.max_distance.$invalid" style="padding: 7px; border-right: solid 5px #f0868e; margin: 5px 0 0 0;">
                                                        هذا الحقل مطلوب </div>
                                                </div>
                                                كلم
                                            </div>

                                        </div>

                                        <div class="form-actions" style="background-color: #f5f5f5;">
                                            <div class="row">
                                                <div class="col-md-offset-5 col-md-7">
                                                    <button ng-blur="focus_first()" ng-click="_save(row)" ng-disabled="form.$invalid" class="btn green submit-btn">
                                                        <i class="fa fa-edit"></i> تعديل </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form> 
                                </div>

                            </div>

                            <div class="tab-pane fade"   id="tab_2">
                                <div ng-if="tab2" data-ng-include="'tpl/forms/messages.html'"></div>
                                <div>
                                    <form name="form1">
                                        <table class="table table-striped table-bordered table-hover" id="sample_11">
                                            <tr >
                                            <input type="hidden" class="form-control" name="id"  ng-model="x.id"  />
                                            <td ><input type="number" step="any" class="form-control" name="dis_from"  ng-model="x.dis_from" placeholder="من" disabled required  /> </td>
                                            <td ><input type="number" step="any" class="form-control" name="dis_to"  ng-model="x.dis_to" placeholder="إلى" min="{{x.dis_from}}" required ng-disabled="editDisable" /> </td>
                                            <td ><input type="number" class="form-control" name="price"  ng-model="x.price" placeholder="السعر" required  /> </td>
                                            <td> <button ng-blur="focus_first()" ng-click="add_price(x)" ng-disabled="form1.$invalid" class="btn green submit-btn">
                                                    <i class="fa fa-save"></i> حفظ </button></td>
                                            </tr>

                                        </table>  
                                    </form>
                                </div>
                                <div  ng-show="pricing.length == 0">
                                    <table class="table table-striped table-bordered table-hover" id="sample_11">
                                        <thead>
                                            <tr style=" background: #44b6ae; color: #fff;" class="">
                                                <th class="text-center" > الرقم</th>
                                                <th class="text-center" >من</th>
                                                <th class="text-center" >إلى</th>
                                                <th class="text-center" >السعر</th>
                                                <th class="text-center">العملية</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center" colspan="5" >لاتوجد سجلات</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div ng-show="pricing.length > 0">

                                    <table class="table table-striped table-bordered table-hover" id="sample_11">
                                        <thead>
                                            <tr style=" background: #44b6ae; color: #fff;" class="">
                                                <th class="text-center" ng-click="sort('name')"> الرقم
                                                    <span class="glyphicon sort-icon" ng-show="sortKey == 'name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                </th>
                                                <th class="text-center" ng-click="sort('username')">من
                                                    <span class="glyphicon sort-icon" ng-show="sortKey == 'username'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                <th class="text-center" ng-click="sort('mobile')">إلى
                                                    <span class="glyphicon sort-icon" ng-show="sortKey == 'mobile'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                <th class="text-center" ng-click="sort('email')">السعر
                                                    <span class="glyphicon sort-icon" ng-show="sortKey == 'email'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                <th class="text-center">العملية</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr dir-paginate="x in pricing |orderBy:sortKey:reverse|filter:search|itemsPerPage:null">
                                                <td class="text-center" >{{ x.id}}</td>
                                                <td class="text-center" >{{ x.dis_from}}</td>
                                                <td class="text-center" >{{ x.dis_to}}</td>
                                                <td class="text-center" >{{ x.price}} ر.س</td>
                                                <td class="text-center" >
                                                    <a ng-click="editPrice(x.id)" class="btn fa fa-edit text-success" title="تعديل"></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>


                                    <uib-pagination total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                                    <select ng-model='xy' ng-click="displayRows(xy)" ng-init="xy = '20'" style='color: #666; border: #ddd solid 1px;'>
                                        <option value="20">عداد الاسطر</option>
                                        <option value="1">1</option>
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="50">50</option>
                                        <option value="200">200</option>
                                    </select>
                                </div>
                            </div>

                            <div  class="tab-pane fade"  id="tab_3">

                                <div ng-if="tab3" data-ng-include="'tpl/forms/messages.html'"></div>
                                <div>
                                    <form name="form2">
                                        <table class="table table-striped table-bordered table-hover" id="sample_11">
                                            <tr >
                                            <input type="hidden" class="form-control" name="id"  ng-model="c.id"  />
                                            <td ><input type="number" step="any" class="form-control" name="code_id" min="1"  ng-model="c.code_id" placeholder="معرف الكود" required  /> </td>
                                            <td>
                                                <div class="input-group">
                                                    <input type="number" step="any" class="form-control" name="percentage" min="1"  ng-model="c.percentage" placeholder="نسبة الخصم "  required>
                                                    <span class="input-group-addon bootstrap-touchspin-prefix">%</span>
                                                </div>
                                            </td>

                                            <td><input type="text" class="form-control datepicker" name="last_date"  ng-model="c.last_date" placeholder=" تاريخ الاستعمال النهائي " required/></td>

                                            <td> <button  ng-click="add_code(c)" ng-disabled="form2.$invalid" class="btn yellow-crusta submit-btn">
                                                    <i class="fa fa-plus"></i> إضافة </button></td>
                                            </tr>

                                        </table>  
                                    </form>
                                </div>
                                <div  ng-show="codes.length == 0">
                                    <table class="table table-striped table-bordered table-hover" id="sample_11">
                                        <thead>
                                            <tr style=" background: #44b6ae; color: #fff;" class="">
                                                <th class="text-center" > معرف الكود</th>
                                                <th class="text-center" >نسبة الخصم</th>
                                                <th class="text-center" >مفعل</th>
                                                <th class="text-center" >عدد الاستعمالات/عميل</th>
                                                <th class="text-center">تاريخ الاستعمال النهائي</th>
                                                <th class="text-center">العملية</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center" colspan="5" >لاتوجد سجلات</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div ng-show="codes.length > 0">

                                    <table class="table table-striped table-bordered table-hover" id="sample_11">
                                        <thead>
                                            <tr style=" background: #44b6ae; color: #fff;" class="">
                                                <th class="text-center" ng-click="sort('name')"> معرف الكود
                                                    <span class="glyphicon sort-icon" ng-show="sortKey == 'name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                </th>
                                                <th class="text-center" ng-click="sort('username')">نسبة الخصم
                                                    <span class="glyphicon sort-icon" ng-show="sortKey == 'username'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                <th class="text-center" ng-click="sort('mobile')">مفعل
                                                    <span class="glyphicon sort-icon" ng-show="sortKey == 'mobile'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                <th class="text-center" ng-click="sort('email')">عدد الاستعمالات/عميل
                                                    <span class="glyphicon sort-icon" ng-show="sortKey == 'email'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                <th class="text-center">تاريخ الاستعمال النهائي</th>
                                                <th class="text-center">العملية</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr dir-paginate="x in codes |orderBy:sortKey:reverse|filter:search|itemsPerPage:null">
                                                <td class="text-center" >{{ x.code_id}}</td>
                                                <td class="text-center" >{{ x.percentage}} %</td>
                                                <td class="text-center" ><i class="fa fa-check-square-o" ng-if="x.active == 1"></i>
                                                    <i class="fa fa-square-o" ng-if="x.active == 0"></i>
                                                </td>
                                                <td class="text-center" >{{ x.customers}}</td>
                                                <td class="text-center" >{{ x.last_date}}</td>
                                                <td class="text-center" >
                                                    <a ng-click="viewCustomers(x.id)" class="btn fa fa-list text-success" title="تفاصيل"></a>
                                                    <a ng-click="delete_code(x.id)" ng-if="x.active == 0" class="btn fa fa-ban text-danger" title="إلغاء"></a></td>
                                            </tr>
                                        </tbody>
                                    </table>


                                    <uib-pagination total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                                    <select ng-model='xy' ng-click="displayRows(xy)" ng-init="xy = '20'" style='color: #666; border: #ddd solid 1px;'>
                                        <option value="20">عداد الاسطر</option>
                                        <option value="1">1</option>
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="50">50</option>
                                        <option value="200">200</option>
                                    </select>
                                </div>
                            </div>

                            <div class="tab-pane fade"  id="tab_4">
                                <div ng-if="tab4" data-ng-include="'tpl/forms/messages.html'"></div>
                                <div>
                                    <form name="form3">
                                        <table class="table table-striped table-bordered table-hover" id="sample_11">
                                            <tr >
                                            <input type="hidden" class="form-control" name="id"  ng-model="y.id"  />
                                            <td ><input type="text"  class="form-control" name="Name"  ng-model="y.Name" placeholder="الاسم" required  /> </td>
                                            <td>
                                                <select class="form-control" name="CountryId"  ng-model="y.CountryId" required>
                                                    <option value="">اختر الدولة</option>
                                                    <option ng-repeat="c in countries" value="{{c.CountryId}}">{{c.Name}}</option>
                                                </select>
                                            </td>

                                            <td>
                                                <select class="form-control" name="active"  ng-model="y.active"required>
                                                    <option value="1" selected>مفعل </option>
                                                    <option value="0">غير مفعل</option>
                                                </select>
                                            </td>

                                            <td> <button ng-blur="focus_first()" ng-click="add_city(y)" ng-disabled="form3.$invalid" class="btn yellow-crusta submit-btn">
                                                    <i class="fa fa-save"></i> حفظ </button></td>
                                            </tr>

                                        </table>  
                                    </form>
                                </div>
                                <div  ng-show="cities.length == 0">
                                    <table class="table table-striped table-bordered table-hover" id="sample_11">
                                        <thead>
                                            <tr style=" background: #44b6ae; color: #fff;" class="">
                                                <th class="text-center" > معرف المدينة</th>
                                                <th class="text-center" >الاسم</th>
                                                <th class="text-center" >مفعل</th>
                                                <th class="text-center">العملية</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center" colspan="4" >لاتوجد سجلات</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div ng-show="cities.length > 0">

                                    <table class="table table-striped table-bordered table-hover" id="sample_11">
                                        <thead>
                                            <tr style=" background: #44b6ae; color: #fff;" class="">
                                                <th class="text-center" ng-click="sort('name')"> معرف المدينة
                                                    <span class="glyphicon sort-icon" ng-show="sortKey == 'name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                </th>
                                                <th class="text-center" ng-click="sort('mobile')">الاسم
                                                    <span class="glyphicon sort-icon" ng-show="sortKey == 'mobile'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                <th class="text-center" ng-click="sort('email')">مفعل
                                                    <span class="glyphicon sort-icon" ng-show="sortKey == 'email'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                                                <th class="text-center">العملية</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr dir-paginate="y in cities |orderBy:sortKey:reverse|filter:search|itemsPerPage:null">
                                                <td class="text-center" >{{ y.id}}</td>
                                                <td class="text-center" >{{ y.Name}}</td>
                                                <td class="text-center" ><i class="fa fa-check-square-o" ng-if="y.active == 1"></i>
                                                    <i class="fa fa-square-o" ng-if="y.active == 0"></i>
                                                </td>
                                                <td class="text-center">
                                                    <a ng-click="editCity(y.id)" class="btn fa fa-edit text-success" title="تعديل"></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>


                                    <uib-pagination total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                                    <select ng-model='xy' ng-click="displayRows(xy)" ng-init="xy = '20'" style='color: #666; border: #ddd solid 1px;'>
                                        <option value="20">عداد الاسطر</option>
                                        <option value="1">1</option>
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="50">50</option>
                                        <option value="200">200</option>
                                    </select>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<div id="customers_modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa fa-close" data-dismiss="modal" style="
                   cursor: pointer;
                   float: left;
                   font-size: 20px;
                   "></i>
            </div>
            <div class="modal-body" style="padding:20px;">
                <div class="row">
                    <div class="col-md-12" ng-if="codeData.customers.length == 0">
                        <p style="text-align: center">هذا الكود غير مستخدم من قبل أي عميل !</p>
                    </div>
                    <div class="col-md-12" ng-if="codeData.customers.length > 0">
                        <p ng-repeat="x in codeData.customers" style="text-align: center">  
                            <i class="fa fa-user"></i>
                            {{x.customer.full_name}}</p>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<script>
            $(document).ready(function () {
                $(".datepicker").mask("9999/99/99");
                $('.datepicker').datepicker({
                    format: 'yyyy/mm/dd',
                    forceParse: false
                });


            });
</script>